* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url("/images/gold.jpg");
    background-repeat: none;
    background-size: cover;
}


#link {
    text-decoration: none;
    color: black;
    margin: 60px;
    text-shadow: 3px 3px 2px #FFC107;
}


#counter {
    float: left;
    margin: 30px;
    text-shadow: 3px 3px 2px #FFC107;
}


#location {
    margin: 10px;
}


#description {
    font-size: 18px;
    margin: 20px auto;
}


#container {
    width: 1300px;
    height: 800px;
    margin: 45px auto;
    background-color: white;
}


#header {
    height: 150px;
    width: 1295px;
    margin: 5px auto;
    text-align: center;
}


#forms {
    width: 1295px;
    height: 240px;
    text-align: center;
    margin: 5px auto;
}


#output {
    overflow-y: scroll;
    height: 225px;
    padding: 20px;
    border: 1px solid black;
}


.form {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 180px;
    margin: 20px 5px 20px 5px;
    border: 1px solid black;
}

li {
	list-style-type: none;
}

.earned {
    color: green;
}


.lost {
    color: red;
}